{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 4,
  "plugins": ["prettier-plugin-sql"],
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript",
        "embeddedLanguageFormatting": "auto"
      }
    }
  ],
  "language": "postgresql",
  "keywordCase": "upper",
  "database": "postgresql"
}